label {
    display: flex;
    flex-direction: column;
    position: relative;
}

.wordList-translate {
    background-color: white;
    position: absolute;
    opacity: 1;
    padding: 7px 15px;
    margin-left: 25%;
    cursor: pointer;
    transition: .3s;
    border: 2px solid #4F5D75;
    width: 50%;
}