.footer {
    background-color: $sideNavColor;
    color: $firstLogoColor;
    font-family: $textFont;
    height: 20rem;
    padding-top: 5rem;

    &-box {
        &-title {
            @include fontSettings(2rem, $textFont, 600, $firstLogoColor);
            margin-bottom: 1.5rem;
        }

        &-description {
            @include fontSettings(1.5rem, $textFont, 400, $firstLogoColor);
            padding-right: 3rem;
            line-height: 2rem;
        }

        &-list {
            @include fontSettings(1.5rem, $textFont, 400, $firstLogoColor);

            &-element {
                margin-bottom: 0.5rem;
                padding-right: 2rem;
                margin-left: 2rem;

                &::before {
                    content: '.';
                    width: 0.5rem;
                    margin-top: -0.5rem;
                    margin-left: -2rem;
                    float: left;
                    text-align: left !important;
                    color: $firstLogoColor;

                }
            }
        }

        &-icons {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;

            &-fb {
                margin-right: 3rem;
                background-image: url("../images/facebook-square-brands");
            }

            &-twit {
                margin-right: 3rem;
            }


        }
    }

    &-copyright {
        background-color: $mainTextColor;
        margin-top: 25px;

        &-link {
            margin-left: 0.5rem;
            @include fontSettings(1.2rem, $textFont, 400, $buttonColor);
        }

        &-text {
            @include fontSettings(1.2rem, $textFont, 400, $firstLogoColor);
        }
    }

    &-input {
        border: none;
        height: 20px;
        width: 110px;
    }

    &-button {
        background-color: $buttonColor;
        border: none;
        padding: 3.5px 25px;
        @include fontSettings(1rem, $textFont, 600, $firstLogoColor);
        margin-left: -.3rem;
    }


    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 30px;
        align-items: center;
    }

}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "one two three";
    justify-content: center;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}