.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $sideMainColor;
    height: 10rem;
    font-size: 1.2rem;

    &-logo {
        color: $secondTextColor;
        justify-self: start;
        margin-left: 2rem;
        cursor: pointer;
        background-image: url(../pngegg.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 8rem;

    }

    &-hamburger {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        margin: 0;

        &-box {
            display: inline-block;
            position: relative;
            width: 40px;

        }

        &-inner {}
    }

    &-menu {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        justify-content: end;
        margin-right: 2rem;
    }
}

.fa-chess-queen {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}