html {
  font-size: 62.5%; // wtedy 1rem = 10px

}

body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  //max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}