//import Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

//Colors 

$mainTextColor: #000;
$secondTextColor: #FDF1EC;
$mainColor: #2D3142;
$sideMainColor: #4F5D75;
$infoMessageColor: #BFC0C0;
$warningMessageColor: #D12421;
$firstLogoColor: #ffffff;

////////////////

//Fonts
$textFont: 'Open Sans',
sans-serif;

$logoFont: 'Permanent Marker',
cursive;

//przykład do wykorzystania
//@include fontSettings(1.4rem, $textFont, 800, $mainTextColor);

//Mixin
@mixin fontSettings($fontSize, $fontName, $fontWeight, $fontColor) {
  font-size: $fontSize;
  font-family: $fontName;
  font-weight: $fontWeight;
  color: $fontColor;
}


//media
$mobile: 640px;
$tablet: 1022px;
$desktop: 1200px;

// .hidden {
//     display: none;
// }